/**
  颜色配置区域
 */
$mainColor:#1890ff;
$lowColor:#69c0ff;
$highColor:#0050b3;
$mainFontColor:#888;
$bgColor:#ececec;
$whiteFontColor:#ffffff;
$footerBgColor:#00a1ea;
$alinkColor:#5caae6;
$btnHoverColor:#ec523a;
//功能信息配色
$errorColor:#f5222d;
$warningColor:#faad14;
$successColor:#52c41a;
$primaryColor:#1890ff;

$greenBtn:#00b971;
$grayBtn:#c6c6c6;

/****
  字体
 */
$baseFontSize:14px;
$meddumFontSize:18px;
$logoFontSize:20px;
$baseFontLt:1.5;




$maxWith:1170px;
$processWd:33.3%
